language: php
php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2

branches:
    only:
      - master

before_script:
  - phpenv config-rm xdebug.ini
  - composer require phpunit/phpunit ^5
  - composer install -o
  - phpunit --version

script:
  - ./vendor/bin/phpunit -v -c phpunit.xml
