<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="PageCache">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>